@model KooliProjekt.Models.CarsIndexModel

@{
    ViewData["Title"] = "Cars";
}

<h1>Cars</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Search.Keyword" class="control-label">Search</label>
                <input asp-for="Search.Keyword" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Search.Done" class="control-label">Available</label>
                <select asp-for="Search.Done" class="form-control">
                    <option value="">All</option>
                    <option value="true">Available</option>
                    <option value="false">Not Available</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Reset</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Rental Rate (per minute)
            </th>
            <th>
                Rental Rate (per km)
            </th>
            <th>
                Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data.Results)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rental_rate_per_minute)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rental_rate_per_km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_available)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@(await Component.InvokeAsync<PagerViewComponent>(Model.Data))